body {
  background-color: #00A0B0;
  /* max-width: 80%; */
}

.mail {
  color: rgb(232, 166, 43);
  font-size: 2rem;
  font-weight: 400;
  font-family: 'Heebo', sans-serif;

  max-width: 80%;
  margin: 0 auto;
  margin-top: 20vw;
  margin-bottom: 5vw;

}

.content {
  font-size: 1.5rem;
  font-family: 'Telex';
  font-weight: 400;
  max-width: 80%;
  margin: 2rem auto;
  min-height: 1vh;
}

.description {
  min-height: 70vh;
}

.desc, .real-desc {
  color:rgb(59, 58, 58);
}

.real-desc {
  display: none;
}

.source {
  font-size: 0.8rem;
}

.real-name {
  margin-top: 5rem;
  color:rgb(59, 58, 58);
}

.name {
  color: black;
}

.find-out {
  text-decoration: underline;
  cursor: pointer;
}

.e-mail {
  color:rgb(59, 58, 58);
}

.back {
  text-decoration: underline;
  color: #0000EE;
  cursor: pointer;
}